<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header><a href="/">Log In</a></header>
        <form action="/account/login" method="POST">
            <input type="email" name="account_email" placeholder="Email" required>
            <input type="password" name="account_password" placeholder="Password" required>
            <span class="show-password">Show</span>
            <button type="submit">Log In</button>
        </form>
        <a href="/account/register" class="register-link">Don't have an account? Sign up</a>
        <a href="/account/forgot-password" class="forgot-password-link">Forgot your password?</a>
    </div>
</body>
</html>
